                <div class="item ">
                   <div class="deals-box">
                      <a href="{{fields.view_node.content}}">
                       {% if fields.field_brand_logo.content %}
                     <div class="deals-img">
                     {{fields.field_brand_logo.content}}
                     </div>
                     {% endif %}
                    <div class="text-1 eq-2" style="height: 60px;">{{fields.field_header.content}}</div>
                     </a>
                  </div>

              </div>

