<div class="link-1 padd-lr-15"  style="padding-bottom:4px;">Coming Soon</div>
   <div class="deals-slider">
               {% for row in rows %}
                    {{ row.content }}
                {% endfor %}
     </div>