<div class="blog-sidebar-item mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Popular Feeds</h4>
                            </div>
                            <div class="sidebar-feeds mt-45">
                                
                                 {% for row in rows %}
                                      {{ row.content }}
                                {% endfor %}
           
                            </div>
                        </div>
                                
                     
         
                
                 
      
                 
                
         
 
                
                 
     
                     
                     

 