<div class="trainee-grid whats-on-grid">
    <div class="grid-item grid-item-right dept-cinema " data-dept="Cinema">
        <div class="category-box">
            <table>
                <tr>
                    <td>
                         {% if title %}
        <div class="title-1">{{ title }}</div>
    {% endif %}
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
                {% for row in rows %}
                {{ row.content }}
            {% endfor %}
  </div>
  </div>
</div>
