<section class="user-login text-center pb-10">
         <div class="container">
            <div class="user-icon user-icon-bg3">
               <img src="{{ base_path ~ directory }}/images/parked-car.png" alt="Lifafa">
            </div>
            <h2>My Vehicles</h2>
           </div>
      </section>
      <section class="mall-listing tpa ">
         <div class="container">
         <form action="" class="trainee-filters">
            <div class="trainee-filter filter row flex-wrap">
			    <div class="view-all tab-link active" data-tab="1">Self Drive</div>
				<div class="view-all tab-link " data-tab="2">Valet</div>

            </div>
         </form>

		<div id="tab-1" class="tab-cont active">
<div class=" vouchers-info border-none">
<div class="link-1 pb-5">4 Wheeler</div>
 <table cellpadding="0" cellspacing="0" class="text-12 pb-15">
   <tbody><tr>
   <td class="pb-5 bold">All Week and Public Holidays</td> <td class="pb-5 bold text-right">8.00 AM to 1.00 AM</td>
   </tr>
   <tr>
   <td class="pb-5">0-1 hrs</td> <td class="text-right">30 Rs /-</td>
   </tr>
   <tr>
   <td class="pb-5">0-2 hrs</td> <td class="text-right">60 Rs /-</td>
   </tr>
   <tr>
   <td class="pb-5">08-12 hrs</td> <td class="text-right">250 Rs /-</td>
   </tr>
 </tbody></table>

  <table cellpadding="0" cellspacing="0" class="text-12">
   <tbody><tr>
   <td class="pb-5 bold">Additional Charge</td> <td class="pb-5 bold text-right"></td>
   </tr>
   <tr>
   <td class="pb-5">For each additional hour</td> <td class="text-right">20 Rs /-</td>
   </tr>
   <tr>
   <td class="pb-5">For loss of ticket</td> <td class="text-right">200 Rs /-</td>
   </tr>
   <tr>
   <td class="pb-5">Overnight parking fine</td> <td class="text-right">1000 Rs /-</td>
   </tr>
 </tbody></table>
  </div>
<div class=" vouchers-info">
<div class="link-1 pb-5">2 Wheeler</div>
 <table cellpadding="0" cellspacing="0" class="text-12 pb-15">
   <tbody><tr>
   <td class="pb-5 bold">All Week and Public Holidays</td> <td class="pb-5 bold text-right">8.00 AM to 1.00 AM</td>
   </tr>
   <tr>
   <td class="pb-5">0-1 hrs</td> <td class="text-right">30 Rs /-</td>
   </tr>
   <tr>
   <td class="pb-5">0-2 hrs</td> <td class="text-right">30 Rs /-</td>
   </tr>
   <tr>
   <td class="pb-5">08-12 hrs</td> <td class="text-right">150 Rs /-</td>
   </tr>
 </tbody></table>

  <table cellpadding="0" cellspacing="0" class="text-12">
   <tbody><tr>
   <td class="pb-5 bold">Additional Charge</td> <td class="pb-5 bold text-right"></td>
   </tr>
   <tr>
   <td class="pb-5">For each additional hour</td> <td class="text-right">20 Rs /-</td>
   </tr>
   <tr>
   <td class="pb-5">For loss of ticket</td> <td class="text-right">200 Rs /-</td>
   </tr>
   <tr>
   <td class="pb-5">Overnight parking fine</td> <td class="text-right">1000 Rs /-</td>
   </tr>
 </tbody></table>
  </div>
 <div class=" vouchers-info ">
 <table cellpadding="0" cellspacing="0" class="text-12">
   <tbody><tr>
   <td class="pb-5 bold">Notes:</td>
   </tr>
   <tr>
   <td >
   <ul>
  <li> Charges indicated are inclusive of GST</li>
<li>For Tenant, Corporate and Parking Passes please contact Mall Concierge</li>
<li>Grace Period will be 05 mins</li>
   </ul>
   </td>
   </tr>

 </tbody></table>
  </div>
  <div class=" vouchers-info">
 <table cellpadding="0" cellspacing="0" class="text-12 ">
   <tbody>
   <tr>
   <td class="pb-5">
Disclaimer Clause
The Management shall not be responsible or liable for any loss of life, personal injury, and/or damage to personal property arising from the use of the car park. Vehicles parked within the Building are parked at their own risk. The Management shall not be responsible or liable in any manner whatsoever for any theft, loss or damage or other demeanour howsoever caused to the vehicles and equipment or contents therein whilst parked or immobilized in or towed away from its premises
If any Mall peroperty damaged by the customer during office hrs while parking vehiles in the parking area then loss be borne by the respective customer.
   </td>
   </tr>

 </tbody></table>
  </div>

		</div>
	 	<div id="tab-2" class="tab-cont ">
<div class=" vouchers-info border-none">
<div class="link-1 pb-5">4 Wheeler</div>
 <table cellpadding="0" cellspacing="0" class="text-12 pb-15">
   <tbody><tr>
   <td class="pb-5 bold">All Week and Public Holidays</td> <td class="pb-5 bold text-right">8.00 AM to 1.00 AM</td>
   </tr>
   <tr>
   <td class="pb-5">0-1 hrs</td> <td class="text-right">130 Rs /-</td>
   </tr>
   <tr>
   <td class="pb-5">0-2 hrs</td> <td class="text-right">160 Rs /-</td>
   </tr>
   <tr>
   <td class="pb-5">08-12 hrs</td> <td class="text-right">350 Rs /-</td>
   </tr>
 </tbody></table>
   </div>

 <div class=" vouchers-info ">
 <table cellpadding="0" cellspacing="0" class="text-12">
   <tbody><tr>
   <td class="pb-5 bold">Notes:</td>
   </tr>
   <tr>
   <td >
   <ul>
  <li> Charges indicated are inclusive of GST</li>
<li>For Tenant, Corporate and Parking Passes please contact Mall Concierge</li>
<li>Grace Period will be 05 mins</li>
   </ul>
   </td>
   </tr>

 </tbody></table>
  </div>
  <div class=" vouchers-info">
 <table cellpadding="0" cellspacing="0" class="text-12 ">
   <tbody>
   <tr>
   <td class="pb-5">
Disclaimer Clause
The Management shall not be responsible or liable for any loss of life, personal injury, and/or damage to personal property arising from the use of the car park. Vehicles parked within the Building are parked at their own risk. The Management shall not be responsible or liable in any manner whatsoever for any theft, loss or damage or other demeanour howsoever caused to the vehicles and equipment or contents therein whilst parked or immobilized in or towed away from its premises
If any Mall peroperty damaged by the customer during office hrs while parking vehiles in the parking area then loss be borne by the respective customer.
   </td>
   </tr>

 </tbody></table>
  </div>


		</div>


      </section>
<section class="pt-15 pb-20">
	  <div class="container">
	  <div class="form-row back-btn text-center"><a href="javascript:history.go(-1)">Back</a></div>
	  </div>
	  </section>
      <script src="js/jquery.min.js"></script>
      <script src="js/plugin.js"></script>


