<body class="body-footer">
      <header class="header-top-nav">
         <div class="container">
            <div class="top-nav">
               <div class="logo">
                <a href="{{ base_path }}" title="{{ 'Home'|t }}" rel="home"><img src="{{ base_path ~ directory }}/images/fundle-logo.png" alt="logo">
               </a></div>
  </div>
  </div>
  </header>
	       <div class="banner-img pt-10  "><div class="container top-deal">
              <img src="{{ base_path ~ directory }}/images/black-friday-elements-assortment.jpg" alt="logo">
               </div>
	  </div>

	  <div class="container pt-15"><div class="title-1 plr-10">Launch Offers </div> </div>
      <section class="mall-listing tpa pt-15">
         <div class="container">
         <form action="" class="trainee-filters">
            <div class="trainee-filter filter row flex-wrap">
               <button id="rf-view-all" class="view-all active" value="*">Select Mall</button>
               <fieldset class="custom-input">
                  <select name="dept" id="">
                     <option value="*">All</option>
                  </select>
               </fieldset>
            </div>
         </form>

         <div class="trainee-grid">
            <div class="grid-item top-deal dept-vegas-mall pb-10 pt-15 " data-dept="Vegas Mall">
               <div class="text-14 link-1 pb-10">Vegas Mall</div>
            <div class="bold text-12 pb-5">Special Launch offers </div>
 <div class="bold text-12 pb-5">From August 2022​ </div>
  <div class="text-10 text-box">
<ul>
<li> 3 free parking vouchers valid for 90 days</li>
<li>500 Fundle points​ for the first 5000 members signing up on Fundle with Vega City as their default mall</li>
<li> One free movie ticket</li>
<li>4x additional  points for every INR 100 of spend when you upload your bills after shopping at Vegacity</li>
<li>Offer valid for new Fundle members only​</li>
</ul>
  </div>
  </div>
<div class="grid-item top-deal dept-the-galleria pb-10 pt-15 " data-dept="The Galleria">
               <div class="text-14 link-1 pb-10">The Galleria</div>
            <div class="bold text-12 pb-5">Special Launch offers </div>
 <div class="bold text-12 pb-5">From August 2022​ </div>
  <div class="text-10 text-box">
<ul>
<li> 3 free parking vouchers valid for 90 days</li>
<li>500 Fundle points​ for the first 5000 members signing up on Fundle with Vega City as their default mall</li>
<li> One free movie ticket</li>
<li>4x additional  points for every INR 100 of spend when you upload your bills after shopping at Vegacity</li>
<li>Offer valid for new Fundle members only​</li>
</ul>
  </div>
  </div>

<div class="grid-item top-deal dept-vega-city pb-10 pt-15 " data-dept="Vega City">
               <div class="text-14 link-1 pb-10">Vega City</div>
            <div class="bold text-12 pb-5">Special Launch offers </div>
 <div class="bold text-12 pb-5">From August 2022​ </div>
  <div class="text-10 text-box">
<ul>
<li> 3 free parking vouchers valid for 90 days</li>
<li>500 Fundle points​ for the first 5000 members signing up on Fundle with Vega City as their default mall</li>
<li> One free movie ticket</li>
<li>4x additional  points for every INR 100 of spend when you upload your bills after shopping at Vegacity</li>
<li>Offer valid for new Fundle members only​</li>
</ul>
  </div>
  </div>
         </div>
      </section>
<section class="pt-15 pb-20">
	  <div class="container">
	  <div class="form-row back-btn text-center"><a href="javascript:history.go(-1)">Back</a></div>
	  </div>
	  </section>
     </body>