<div class="item ">
    <div class="deals-box ">
        <a href="{{fields.view_node.content}}">
            {% if fields.field_brand_thumbnail.content %}
                <div class="deals-img">
                    {{fields.field_brand_thumbnail.content}}
                </div>
            {% endif %}
            <div class="text-1 eq-2" style="height: 60px;">{{fields.field_brand_name.content}} <span class="text-10 link-1">{{fields.field_sub_category.content}}</span>
            </div>
        </a>
    </div>
</div>