{# empty Twig template #}

{#{{drupal_dump(form)}}#}
{#
 <div class="trainee-filter filter row flex-wrap">
                <button id="rf-view-all" class="view-all active" value="*">View by Category</button>
                <fieldset class="custom-input">
                    {{form.field_catogery_target_id}}
                </fieldset>
            </div>#}
 {{form.field_catogery_target_id}}