 <div class="blog-grid-area pt-90 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    
                                {% for row in rows %}
                                      {{ row.content }}
                                {% endfor %}
           
                   
                </div>
            </div>
        </div> 
              
                               

                
                                
                     
         
                
                 
      
                 
               
         
 
                
                 
     
                     
                     

 