
                <div class="col-lg-3">
                    <div class="single-case-studies mt-30">
                        <img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="case-studies">
                        <div class="case-overlay">
                            <div class="item">
                                <span>{{fields.title.content}} </span>
                                <h5 class="title">{{fields.field_case_subtitle.content}}</h5>
                            </div>
                            <a href="{{fields.view_node.content}}"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div> <!-- single case studies -->
                </div>