<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-15">
                    <div class="partners-item">
                        {#<img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="">#}
                        <div class="partners-content-image">
                            {{fields.field_partners_image.content}}
                        </div>
                        <div class="partners-content-title text-center p-15">
                             <h2 class="title">{{fields.title.content}}</h2>
                        </div>
                    </div> <!-- leadership item -->
</div>