<div class="logged-steps clear">
    <div class="container container-1500">
        <div class="rewards-marketplace rewards-logged">              
            {% for row in rows %}
                {{ row.content }}
            {% endfor %}   

        </div>
    </div>
</div>