 <div class="column column-25 column-p10">
    <div class="category-box">
        <div class="category-img"> {{fields.field_offer_image.content}}</div>
        <div class="category-dsc">{{fields.body.content}} </div>
    </div>
</div>