<div class="steps clear">
    <div class="container" style="max-width: 900px;">      
        <div class="icon-box-row flex-row flex-wrap pb-10">
             {% for row in rows %}
            {{ row.content }}
        {% endfor %}                        
        </div>	
    </div>
</div>









