
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services-item mt-30">
                        <img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="">
                        <div class="services-overlay">
                            <i class="fal fa-eye-dropper"></i>
                            <h4 class="title">{{fields.title.content}}</h4>
                            <p>{{fields.body.content}}</p>
                         </div>
                    </div> <!-- single services -->
                </div>