         {#   <div class="title text-center">
                {% if title %}
                    <h2>{{title}}</h2>
                {% endif %}
                {% if subtitle %}
                    <div class="text-1">{{subtitle}}</div>
                {% endif %}
                 {% if user_content %}
                    <div class="text-1">{{user_content}}</div>
                {% endif %}
            </div>#}
   