{# empty Twig template #}

<div class="banner-inner clear">
    {{content.field_page_banner}}   
</div>
<div class="top-sec clear p-b-20">
    <div class="container container-1500">
        <div class="title text-center">
            <h2>{{ content.field_banner_title }}</h2>
            <div class="container container-800">
                <div class="text-1">
                    {{content.field_banner_description}}      
                </div>
            </div>
        </div>
        
    </div>
</div>	
{{content.body}}