{# empty Twig template #}

<div class="banner-inner clear">
    {{content.field_content_image}}
    <div class="banner-dsc"> 
        <div class="container ">
            <div class="title text-center">
                <h2>{{node.getTitle}}</h2>
                <div class="text-1">{{content.field_content_description}}</div>
            </div>
        </div>
    </div>
</div>
            
<div class="steps clear pb-30">
           <div class="container container-1500">
               <div class="title text-center">
                   {{content.body}}
                   {#<h2>No problem</h2>
                   <div class="text-1"><a href="#">Get in touch </a>and we will work out the details with you</div>#}
               </div>
           </div>
       </div>            