<div class="steps clear">
    <div class="container">
        <div class="text-1 text-1-bold text-center clear">Please select the store you would like to log into
        </div>
    </div>
</div>
<div class="logged-steps clear pb-30">
    <div class="container" style="max-width: 600px;">
        <div class="row">
            <div class="rewards-marketplace rewards-logged">
                <div class="rewards-box rb-2col" >
                    <a href="{{base_url}}/rewardstore">
                        <div class="re-box-sd">
                            <img src="{{ base_path ~ directory }}/images/lin-1.jpg" alt="Lifafa">
                            <div class="rewards-dsc text-center">
                                <h4>Rewards Store</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="rewards-box rb-2col">
                    <a href="{{base_url}}/employeestore">
                        <div class="re-box-sd">
                            <img src="{{ base_path ~ directory }}/images/lin-2.jpg" alt="Lifafa">
                            <div class="rewards-dsc text-center">
                                <h4>Employee Store</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>