<div class="team text-center">
                  {% for row in rows %}
                       {{ row.content }}
                  {% endfor %}           
    </div>
               
       
               
                 
     
                     
                     

 