<div class="team-box mr-70">
    <img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="">
    <div class="name">{{fields.field_member_name.content}}</div>
    <div class="post-name">{{fields.field_member_post.content}}</div>
</div>