
                 {% if usericon %}
                    <!-- <div  class="points-in">
                     <div  class="points-av">Points available:</div>
                      <div  class="points-ct"> {{ available_point }}</div>
                    </div>  -->
                    <div  class="user-in">
                        <ul>
                            <li><a href="{{store_base_url}}">My Account</a></li>
                            <li><a href="{{base_url}}/user/logout/">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}