<div class="fb-col-3">
                    <div class="title-box">
                        {#<img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="">#}
                        
                            {{fields.field_partners_image.content}}
                        
                        <div class="box-title text-center">
                             {{fields.title.content}}
                        </div>
                    </div> <!-- leadership item -->
</div>