<div class="logged-steps clear">
         <div class="container container-600">
		 <div class="people-row">
            {% for row in rows %}
                {{ row.content }}
            {% endfor %}
        </div>
    </div>
</div>