<header class="header">
    <div class="fb-row">
        <div class="col-30">
            <nav class="mobile-nav-wrap" role="navigation">
                <ul class="mobile-header-nav" style="display: none;">
                <li><a href="#">Nav Item 1</a></li>
                <li><a href="#">Nav Item 2</a></li>
                <li><a href="#">Nav Item 3</a></li>
                </ul>
            </nav>
            <a class="mobile-menu-toggle js-toggle-menu hamburger-menu" href="#">
            <span class="menu-item"></span>
            <span class="menu-item"></span>
            <span class="menu-item"></span>
            </a>
        </div>
        <div class="col-40">
            <div class="logo text-center">
                <a href="#"><img src="{{logopath}}" alt="logo"></a>
            </div>
        </div>
        <div class="col-30">
            <div class="menu-right">
                <div class="user-in">
                <ul>
                    <li><a href="#" title="Sign in">Sign in</a></li>
                    <li><a href="#" title="Sign up">Sign up</a></li>
                </ul>
                </div>
                <div class="se-country ">
                <div class="user-in flag-icon flag-in">
                    <ul>
                        <li class="fl-uk"><a href="#"><img src="images/in-flag.png" alt="logo"></a></li>
                        <li class="fl-in"><a href="#"><img src="images/uk-flag.png" alt="logo"></a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</header>