<div class="banner-inner clear">
    <img src="{{ base_path ~ directory }}/images/shutterstock_1239541885.jpg" alt="Lifafa">
    <div class="banner-dsc"> 
        <div class="container container-1500">
            <div class="title text-center">
                <h2>The world's largest marketplace for corporate rewards and incentives</h2>
            </div>
        </div>
    </div>
</div>


<div class="steps clear">
    <div class="container container-800">
        <div class="rewards-marketplace">
            
             {% for row in rows %}
            {{ row.content }}
        {% endfor %}
        
            
        </div>
    </div>
</div>

{#<div class="steps clear pb-30">
    <div class="container">
        <div class="top-border"></div>
        <div class="title text-center">
            <h2>Bespoke requirements </h2>
            <div class="text-1">Cant find what you are looking for <a href="#" class="link-1">Contact us</a></div>
        </div>

    </div>
</div>#}

{#
<div class="container">
    <div class="top-border"></div>
    <div class="title text-center">
        <h2>Get started in 3 easy steps</h2>
    </div>    
    <div class="fb-row">                
        {% for row in rows %}
            {{ row.content }}
        {% endfor %}
    </div>        
</div>#}
