<div class="icon-box-col column-25">
    <div class="icon-box text-center">
        <a href="#">
            {{fields.field_step_image.content}}
            <div class="icon-box-title"><h4>{{fields.body.content}}</h4></div>
        </a>
    </div>
</div>        