<div class="column column-25 column-p20">
<div class="icon-box city-box text-center">
<a href="#">
  <div class="img-set">{{fields.field_offer_image.content}}</div>
  <div class="icon-box-title "><h4>{{fields.title.content}}</h4>
  </div>
  </a>
  </div>
</div>