  <footer style=" background: #2A577C;  padding: 12px 40px; position: relative;
    left: 0;  bottom: 0; width: 100%;     float: left;     clear: both;  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;">
	  <div style=" display: table; width: 100%;">
         <div style="font-size: 15px;  font-family: 'cs-Segoe UI'; color: #fff;display: table-cell;  padding: 0; width: calc(100% - 50px ); padding-left: 0px; text-align: center;">
               (c) {{ "now"|date("Y") }} All Rights Reserved
            </div>
			  </div>	
      </footer>
