<div class="banner-inner clear overlay">
    <img src="{{content.category_banner}}" alt="Lifafa">
    <div class="banner-dsc">
        <div class="container ">
            <div class="title text-center">
                {% if content.category_name %}
                    <h2> {{content.category_name}}​</h2>
                {% endif %}
                {% if content.category_subtitle %}
                    <div class="text-1"> {{content.category_subtitle}}​</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>            