<div class="team-member-area padding pt-70 pb-50">
    <div class="heading-divider">
        <span style="font-size: 40px; background-color: #FFF; padding: 0 10px; color:#2a587c; font-weight:700">Our Team <!--Padding is optional--> </span>
    </div>
        <div class="container mt-40">
            <div class="row justify-content-center">
                
                  {% for row in rows %}
                       {{ row.content }}
                  {% endfor %}
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
               
       
               
                 
     
                     
                     

 