<div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-item mt-50">
                        <img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="">
                        <div class="team-content text-center mt-15">
                             <h5 class="title">{{fields.field_member_name.content}}</h5>
                            <span>{{fields.field_member_post.content}}</span>
                        </div>
                    </div> <!-- leadership item -->
</div>