<div class="fb-col-3">
    <div class="title-box-2 text-center">
        {{fields.field_step_image.content}}                        
        <div class="box-title-2 text-center">
            {{fields.field_step_discription.content}}
        </div>
    </div>
</div>