<div class="fb-col-5">


    <div class="title-box-3 text-center">
        <div class="box-title-3 text-center">
            <strong>{{fields.title.content}}</strong>
            <br>{{fields.body.content}}
        </div>
    </div>

</div>