<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Email</title>
   </head>
<body data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">
    <table style="border-left:1px solid #ededed;border-right: 1px solid #ededed;" width="640" align="center">
        <tbody>
            <tr>
                <td style="text-align: center;vertical-align: middle;">
                    <img style="width: 100%;" src="https://gc-lmp.lifafa.com/email/top-heading-bar.jpg">
                </td>
            </tr>
            <tr>
                <td style="text-align: center;vertical-align: middle;border-bottom: 1px solid #ccc">
                    <img style="height: 15%;width: 23%;" src="https://gc-lmp.lifafa.com/email/lifafa_logo-small.png">
                </td>
            </tr>
            <tr style="margin: 0px -5px;" valign="top">
                <td style="text-align:center;">
                    <img style="width:562px;" src="https://gc-lmp.lifafa.com/email/ribbon.jpg">
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <table style="width:560px; margin: 0 auto;border: 10px solid #6fc7bc;">
                        <tbody>
                            <tr>
                                <td style="padding: 7px 30px;
                                    background-color: white;
                                    outline: 1px solid white">
                                    <p style="color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; ">Dear {{given_name}}!</p>
                                    <p style="color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; ">Thanks for placing order with us.</p>
                                    <p style="color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; ">Your {{title}} voucher will be processed within 24 hours.</p>
                                    {#<p style="color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">You can find the detailed T&amp;Cs <a href="https://phonepeswitch.lifafa.com/card-details/Flipkart?selectTab=1" target="blank">here</a> </p>#}
                                    <p style="color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;"> Thanks! <br> Team Lifafa</p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <img style="width:100%" src="https://gc-lmp.lifafa.com/email/footer.jpg">
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>