{#{{drupal_dump(fields.field_brand_name)}}#}


<div class="brands-col column ">
    <div class="brand">
        <a href="{{fields.view_node.content}}">{{fields.field_brand_thumbnail.content}} </a>
        <div class="text-center text-8 ptb-5">{{fields.field_brand_name.content}}
        </div>
    </div>
</div>

