       <div class="banner-inner clear overlay">
         <img src="images/ins-banner.jpg" alt="Lifafa">
         <div class="banner-dsc">
            <div class="container ">
               <div class="title text-center">
                  <h2> Health Insurance​</h2>
               </div>
            </div>
         </div>
      </div>

    <div class="logged-steps clear">
        <div class="container">
            <div class="row">                   
                <div class="rewards-marketplace rewards-logged">
                    {% for row in rows %}
                        {{ row.content }}
                    {% endfor %}
                </div>                   
            </div>
        </div>
    </div>
</div>
                
        
      <div class="steps clear pb-30">
         <div class="container">
            <div class="top-border"></div>
            <div class="title text-center">
               <h2>Plan Types​</h2>
               <div class="text-1">Select plan that best suits your needs​</div>
            </div>
         </div>
      </div>
      <div class="logged-steps clear">
         <div class="container">
            <table class="plan-table" cellpadding="0" cellspacing="0" >
               <tr>
                  <th style="width: 30%" >Plan Type</th>
                  <th style="width: 40%">Description</th>
                  <th style="width: 30%"> </th>
               </tr>
               <tr>
                  <td>Mediclaim</td>
                  <td>This plan allows you to top up your health care policy Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <a href="#">…more​</a> </td>
                  <td class="text-right"><a href="#"> View Details >> </a></td>
               </tr>
               <tr>
                  <td>Super top up</td>
                  <td>This plan allows you to top up your health care policy Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <a href="#">…more</a>​ </td>
                  <td class="text-right"><a href="#"> View Details >> </a></td>
               </tr>
            </table>
         </div>
      </div>
      <div class="steps clear pb-30">
         <div class="container">
            <div class="top-border"></div>
            <div class="title text-center">
               <h2>Need help?</h2>
               <div class="text-1">We understand that sometimes its easier to discuss your needs with a specialist when selecting the right plan for you.</div>
            </div>
         </div>
      </div>