<div class="rewards-box">
    <a href="#">
        <div class="re-box-sd">
            {#<img src="images/ins1.jpg" alt="Lifafa">#}
            {{fields.field_image.content}}                    
            <div class="rewards-dsc text-center">
                <h4>{{fields.name.content}}</h4>
            </div>
        </div>
    </a>
</div>
            
            
            