
    {#  <header class="header-top-nav">
         <div class="container">
            <div class="top-nav">
               <div class="logo">
                <a href="{{ base_path }}" ><img src="{{ base_path ~ directory }}/images/fundle-logo.png" alt="logo">
                </a>
              </div>
            </div>
         </div>

      </header> #}

   <div class="banner-img pt-10  "><div class="container top-deal">
              <img src="{{ base_path ~ directory }}/images/black-friday-elements-assortment.png" alt="logo">
               </div>
       <div class="container pt-15"><div class="title-1 plr-10">Mall Offers </div>
       <br>

       </div>