<section class="top-deal-sec">
    <div class="container p-10 top-deal text-center">
        <div class="red-box">
            {{member_special | raw}}
            <button onclick= "postRedeemParkingTicket()" class="btn btn-7" >Redeem</button>
            <div class="  text-10 color-w pt-10">T&C apply</div>
        </div>
    </div>
</section>
