<section class="user-login text-center pb-5">
    <div class="container">
        <div class="user-icon">
            <img src="{{ base_path ~ directory }}/images/gift-card-bl.png" alt="Lifafa">
        </div>
        <h2>Top Deals</h2>
    </div>
</section>