<div class="container text-center">
   <div class="pt-15 pb-15 parking-btn">
   <a href="{{park_type}}">
      <button class="btn btn-primary">View parking charges</button>
      </a>
   </div>
</div>