<div class="col-4">
   <div class="announcements-box">
      {{fields.field_tiles_image.content}}
      <div class="announcements-dsc text-center">
         <h4>{{fields.title.content}}</h4>
         {% if  fields.field_sub_title.content %}
            <h5>{{fields.field_sub_title.content}}</h5>
         {% endif %}
         {{fields.body.content}}
      </div>
   </div>
</div>
        