
   <div class="col-lg-4">
                    <div class="leadership-item mt-30">
                        <img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="">
                        <div class="leadership-content">
                            <h5 class="title">{{fields.title.content}}</h5>
                            <span>{{fields.field_job.content}}</span>
                        </div>
                    </div> <!-- leadership item -->
                </div>