

/*===========================
    1. COMMON css 
===========================*/


@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap');
@font-face {
    font-family: 'GilroyBold';
    src: url('../fonts/GilroyBold.eot');
    src: url('../fonts/GilroyBold.eot') format('embedded-opentype'),
         url('../fonts/GilroyBold.woff2') format('woff2'),
         url('../fonts/GilroyBold.woff') format('woff'),
         url('../fonts/GilroyBold.ttf') format('truetype'),
         url('../fonts/GilroyBold.svg#GilroyBold') format('svg');
}


 body {
	font-family: $karla;
	font-weight: normal;
	font-style: normal;
  overflow-x: hidden;
    color: $text-color;
}

*{
    margin: 0;
    padding: 0;
    @include box-sizing (border-box);
}

img {
	max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover{
	text-decoration: none;
}

i,
span,
a{
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $gilroy;
	font-weight: 700;
	color: $heading-color;
	margin: 0px;
}

h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: $text-color;
	margin: 0px;
}

.bg_cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


// others common css here



/*===== All Button Style =====*/

.main-btn {
	display: inline-block;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	@include user-select(none);
	border: 2px solid $theme-color;
	padding: 0 55px;
	font-size: 16px;
	line-height: 60px;
	border-radius: 6px;
    color: $white;
    cursor: pointer;
    z-index: 5;
    @include transition(0.4s);
    background-color: $theme-color;
    
    &:hover{
    	background-color: transparent;
        color: $white;
  		border-color: rgba(255, 255, 255,.2);
    }
    
    &.main-btn-2{
        background-color: transparent;
        color: $white;
        border-color: rgba(255, 255, 255,.2);
        &:hover{
            background-color: $theme-color;
            border-color: $theme-color;
            color: $white;
        }
    }
}





.section-title{
  & span{
    color: $theme-color;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 5px;
    z-index: 6;
    position: relative;
  }
  & .title{
    font-size: 70px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    z-index: 5;
    margin-bottom: 33px;
    @media #{$xs} {
      font-size: 44px;
    }
    @media #{$xs} {
      font-size: 36px;
    }
    @media #{$sm} {
      font-size: 54px;
    }
    &::before{
      position: absolute;
      content: 'services';
      font-size: 180px;
      font-family: $gilroy;
      font-weight: 700;
      bottom: 0;
      color: #f5f6f8;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      @media #{$md} {
        font-size: 145px;
      }
      @media #{$xs} {
        font-size: 60px;
        bottom: 15px;
      }
      @media #{$sm} {
        font-size: 120px;
      }

    }
  }
}

.section-title-2{
  padding-bottom: 45px;
  & .title{
    font-size: 60px;
    margin-top: -2px;
    padding-bottom: 5px;
    @media #{$lg} {
      font-size: 48px;
    }
    @media #{$xs} {
      font-size: 38px;
    }
    @media #{$sm} {
      font-size: 57px;
    }
  }
  & p{
    font-size: 16px;
  }
}

.mt-m2{
  margin-top: -20px;
}



/*--------------------------------------------------------------------------------------
PRELOADER
--------------------------------------------------------------------------------------*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $theme-color;
    z-index: 9999999;
    text-align: center
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    display: flex;
    align-items: center;
}
.line {
    width: 5px;
    height: 40px;
    background: $white;
    margin: 0 3px;
    border-radius: 10px;
    animation: loading 0.8s infinite;
}
.line:nth-child(2) {
    animation-delay: 0.1s;
}
.line:nth-child(3) {
    animation-delay: 0.2s;
}
.line:nth-child(4) {
    animation-delay: 0.3s;
}
.line:nth-child(5) {
    animation-delay: 0.4s;
}
.line:nth-child(6) {
    animation-delay: 0.5s;
}
.line:nth-child(7) {
    animation-delay: 0.6s;
}
.line:nth-child(8) {
    animation-delay: 0.7s;
}
@keyframes loading {
    0% {
        height: 0;
    }
    50% {
        height: 40px;
    }
    100% {
        height: 0;
    }
}










/*
Sidebar Modal Area Style
======================================================*/
.sidebar-modal {
  position: relative;
}

.sidebar-modal .navbar-nav li a {
  padding: 10px 0px 10px 15px;
}

.sidebar-modal .modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 450px;
  height: 100%;
}

.sidebar-modal .modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 0;
  border: none;
  background-color: #ffffff;
}

.sidebar-modal .modal.right .modal-body {
  padding: 30px;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget {
  margin-bottom: 35px;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .title {
  position: relative;
  z-index: 1;
  margin-bottom: 35px;
  color: #333;
  font-weight: 600;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .title::before {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 70px;
  height: 2px;
  border-radius: 5px;
  background: $theme-color;
  content: '';
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget:last-child {
  margin-bottom: 0;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul {
  padding: 0;
  margin: 0;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul li {
  margin-bottom: 10px;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul li:last-child {
  margin-bottom: 0;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul li a {
  font-size: 14px;
  color: $text-color;
  font-weight: 600;
  text-transform: capitalize;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul li a:hover {
  color: #cc8c18;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul.contact-info li {
  position: relative;
  font-weight: 500;
  padding-left: 45px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  color: #24416b;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul.contact-info li span {
  font-size: 13px;
  display: block;
  font-weight: 400;
  color: #818992;
  margin-top: 5px;
  text-transform: initial;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul.contact-info li i {
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 29px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: $theme-color;
  border-radius: 4px;
  font-size: 15px;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul.contact-info li:hover i {
  color: #ffffff;
  background: #cc8c18;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget ul.contact-info li:last-child {
  margin-bottom: 0;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .social-list {
  text-align: left;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .social-list li {
  display: inline-block;
  padding-right: 5px;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .social-list li a i {
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border-radius: 4px;
  color: #ffffff;
  background-color: $theme-color;
  font-size: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .social-list li a i:hover {
  background-color: #cc8c18;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .social-list li:hover {
  color: #cc8c18;
}

.sidebar-modal .modal.right .modal-body .sidebar-modal-widget .social-list li a:hover {
  color: #ffffff;
}

.sidebar-modal .modal.right.fade.show .modal-dialog {
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar-modal .modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar-modal .modal-header {
  display: inline;
  padding: 0;
  border: none;
}

.sidebar-modal .modal-header .close {
  height: 30px;
  width: 30px;
  color: $theme-color;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
  opacity: 1;
}

.sidebar-modal .modal-header .close i::before {
  margin-left: 0;
  font-size: 20px;
}

.sidebar-modal .modal-header h2 {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  padding: 30px 25px;
}

.sidebar-modal button:focus {
  outline: 0px;
}

.modal-open .modal {
  z-index: 99999;
}




/*================================================
Search Overlay CSS
=================================================*/
.search-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.search-overlay .search-overlay-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.search-overlay .search-overlay-layer:nth-child(1) {
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.search-overlay .search-overlay-layer:nth-child(2) {
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
}

.search-overlay .search-overlay-layer:nth-child(3) {
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.9s ease-in-out 0.6s;
  transition: all 0.9s ease-in-out 0.6s;
}

.search-overlay .search-overlay-close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 50px;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: all 0.9s ease-in-out 1.5s;
  transition: all 0.9s ease-in-out 1.5s;
  opacity: 0;
  visibility: hidden;
}

.search-overlay .search-overlay-close .search-overlay-close-line {
  width: 100%;
  height: 3px;
  float: left;
  margin-bottom: 5px;
  background-color: #ffffff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.search-overlay .search-overlay-close .search-overlay-close-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-overlay .search-overlay-close .search-overlay-close-line:nth-child(2) {
  margin-top: -7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search-overlay .search-overlay-close:hover .search-overlay-close-line {
  background: #378218;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search-overlay .search-overlay-form {
  -webkit-transition: all 0.9s ease-in-out 1.4s;
  transition: all 0.9s ease-in-out 1.4s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 2;
  max-width: 500px;
  width: 500px;
}

.search-overlay .search-overlay-form form {
  position: relative;
}

.search-overlay .search-overlay-form form .input-search {
  display: block;
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 30px;
  padding-left: 20px;
  color: #333333;
  font-size: 15px;
}

.search-overlay .search-overlay-form form button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 45px;
  color: #ffffff;
  height: 45px;
  border-radius: 50%;
  background-color: $theme-color;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
  font-size: 20px;
  line-height: 45px;
}

.search-overlay .search-overlay-form form button:hover {
  background-color: #333333;
  color: #ffffff;
}

.search-overlay.search-overlay-active.search-overlay {
  opacity: 1;
  visibility: visible;
}

.search-overlay.search-overlay-active.search-overlay .search-overlay-layer {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.search-overlay.search-overlay-active.search-overlay .search-overlay-close {
  opacity: 1;
  visibility: visible;
}

.search-overlay.search-overlay-active.search-overlay .search-overlay-form {
  opacity: 1;
  visibility: visible;
}