<div class="col-lg-4 col-md-6 col-sm-6 mb-15">
                    <div class="steps-item">
                        {#<img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="">#}
                        <div class="steps-content-title text-center p-15">
                             <h2 class="title">{{fields.field_step_no.content}}</h2>
                        </div>
                        <div class="steps-content-discription p-15">
                            <span>{{fields.field_step_discription.content}}</span>
                        </div>
                    </div> <!-- leadership item -->
</div>