 <div class="item ">
      <div class="deals-box ">
				  <a href="{{fields.view_node.content}}">
          {% if fields.field_features_image.content %}
                <div class="deals-img">
                    {{fields.field_features_image.content}}
                </div>
                {% endif %}
                     <div class="text-1 light-span">{{fields.title.content}}<span>Chines</span>
                     </div>
					  </a>
                  </div>
               </div>